*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(cloudscape-fantastica.jpg);
}
h1{
    text-align: center;
    margin: 20px auto;
    font-size: 3em;
    border-bottom: 4px solid white;
    width: fit-content;
    color: rgb(255, 255, 255);
    border-radius:10px;
    text-shadow: 8px 8px 8px rgb(110, 245, 255);
}
span.divider {
    width: 150px;
    display: block;
    height: 3px;
    background-color: white;
    margin: 10px auto;
    border-radius:10px ;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    width: 1320px;
    height: 100%;
    align-items: center;
    margin: 0 auto;
}
form{
    display: flex;
    flex-direction: column;
    color: #8e8c8c;
    margin: 20px;
    width:  50%;
    padding: 25px;
    height: 300px;
    max-height: 300px;
    box-shadow: 6px 8px 26px 8px rgb(110, 245, 255);
    border-radius: 20px;
    border-right: 3px solid white;
}
form:hover{
    border: 5px solid white;
}
label{
    font-size: 25px;
    color: #ffffff;
    padding: 3px 0 3px 0;
}
input{
    width: 600px;
    border-radius: 4px;
    border: none;
    height: 100px;
    padding-left: 10px;
}
button{
    margin-top: 15px;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 8px;
    background-color: rgb(4, 62, 104);
    cursor: pointer;
    color: #ffffff;
}
button:hover{
    background-color: rgb(1, 20, 105);
    border-bottom: 3px solid white;
}
#lista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.today{
    background-color: rgb(3, 163, 178);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
    box-shadow: 6px 8px 26px 8px rgb(110, 245, 255);
}
.invalid{
    background-color: rgb(177, 42, 1);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
    box-shadow: 6px 8px 26px 8px rgb(110, 245, 255);
}
.confirmed{
    background-color: rgb(0, 131, 50);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
    box-shadow: 6px 8px 26px 8px rgb(110, 245, 255);
}
@media screen and (max-width: 768px){
    .container{
        width: 100%;
        padding: 10px;
    }
    form{
        width: 100%;
        margin: 10px;
    }
    #lista{
        gap: 5px;
        justify-content: space-between;
    }
    input{
        width: 100%;
    }
    .card{
        width: 48%;
        margin: 0;
    }
}