*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(114, 123, 120);
}
h1{
    text-align: center;
    margin: 20px auto;
    font-size: 3em;
    width: fit-content;
    color: rgb(255, 255, 255);
    text-shadow: 8px 8px 8px rgb(3, 83, 154);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    width: 1320px;
    height: 100%;
    align-items: center;
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: row;
    color: #8e8c8c;
    margin: 20px;
    width: 50%;
    padding: 25px;
    height: 300px;
    max-height: 300px;
    box-shadow: 6px 8px 26px 8px rgb(1, 61, 65);
    border-radius: 20px;
    border-right: 3px solid white;
    flex-wrap: wrap;
}
label{
    font-size: 25px;
    color: #031f90;
    font-weight: bold;
    padding: 3px 0 3px 0;
    text-shadow: 8px 8px 8px rgb(255, 255, 255);
}
input{
    width: 600px;
    border-radius: 4px;
    border: none;
    height: 40px;
    padding-left: 10px;
}
button {
    margin: 0;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: rgb(18, 78, 126);
    cursor: pointer;
    color: #ffffff;
    margin-left: auto;
}
button:hover{
    background-color: #06175d;
}