*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgb(220, 220, 220), rgb(0, 9, 62));
    background-attachment: fixed;
}
header h1{
    color: rgb(0, 20, 134);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-shadow: 3px 3px 3px white;
}
form{
    border-radius: 15px;
    margin: 0 auto;
    border: 3px solid white;
    height: auto;
    width: 600px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
input{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}
textarea{
    padding: 25px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}
select{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}
button{
    color: white;
    padding: 10px;
    margin: 5px;
    background-color: rgb(32, 103, 189);
    border: none;
}
button:hover{
    opacity: 0.8;
}
#lista{
    border-radius: 15px;
    margin: 15px auto;
    border: 3px solid white;
    height: auto;
    width: 600px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
#lista h2{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: rgb(0, 9, 62);
    color: white;
    text-shadow: 2px 2px 2px black;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 768px){
    header h1{
        font-size: 35px;
        display: flex;
        justify-content: space-between;
    }
    form{
        width: 70%;
    }
    #lista{
        width: 70%;
    }
}