*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/stranger-things-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header h1{
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.468);
    border: 2px solid rgba(255, 255, 255, 0.712);
    border-radius: 15px;
    width: 25%;
    margin: 0 auto;
}
button{
    padding: 15px 30px;
    margin: 0 5px;
    border: none;
    color: white;
    background-color: rgb(4, 14, 102);
    box-shadow: 3px 3px 3px white;
    border-radius: 8px;
}
button:hover{
    background-color: rgba(4, 14, 102, 0.518);
}
select{
    padding: 10px 30px;
    background-color: #590000;
    color: white;
    border: none;
    box-shadow: 3px 3px 3px white;
    border-radius: 8px;
    text-align: center;
}
select:hover{
    background-color: #5900009f;
}
option{
    background-color: rgb(0, 1, 37);
}
#ranking{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgba(0, 0, 0, 0.485);
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px){
    body{
        background-image: url(../img/stranger-things-mobile-background.jpg);
    }
    
    header h1{
        font-size: 30px;
        text-align: center;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        gap: 8px;
    }

    button{
        padding: 10px 100px;
    }

    select{
        text-align: center;
        padding: 10px 65px;
    }
}