*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(rgb(232, 232, 232), rgb(132, 132, 132), rgb(40, 38, 38));
    background-attachment: fixed;
}
header h1{
    margin-top: 200px;
    color: rgb(123, 0, 0);
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}
h2{
    padding: 10px;
    color: rgb(123, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    background-color: white;
    width: 500px;
    padding: 50px;
    margin: 0 auto;
    border-radius: 20px;
}
form select{
    border: none;
    padding: 8px;
    background-color: rgb(251, 227, 227);
}
button{
    background-color: rgb(123, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 15px;
}
button:hover{
    background-color: rgb(8, 240, 35);
    transition: 1.9s;
    border-radius: 1px;
}
footer{
    background-color: rgb(255, 255, 255);
    color: rgb(123, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}
@media screen and (max-width: 768px) {
    header h1{
        margin-top: 10px;
        text-align: center;
    }

    form select{
    border: none;
    padding: 8px;
    width: 100px;
    background-color: rgb(251, 227, 227);
    }
    
    form{
        width: 60%;
    }
}
