@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

*{
    margin: 0;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
body{
    background-image: linear-gradient(rgb(221, 240, 240), rgb(88, 248, 234), rgb(15, 137, 111));
    background-attachment: fixed;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: rgb(53, 122, 103);
    word-spacing: 15px;
    font-family: "Mea Culpa", cursive;
    text-shadow: 4px 4px 4px rgb(255, 255, 255);
}
.preenchedor{
    height: 5%;
}
.container{
    width: 70%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    border-radius: 25px;
    box-shadow: 6px -2px 10px 5px rgb(255, 254, 254);
    flex-direction: column;
    justify-content: flex-end;
}
button{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto 10px auto;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(53, 122, 103);
    color: aliceblue;
    font-size: 17px;
}
button:hover{
    background-color: rgb(27, 82, 67);
}
footer{
    background-color: rgb(27, 82, 67);
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}
p{
    text-align: center;
    font-size: 25px;
    font-family: "Momo Trust Display", sans-serif;
    color: white;
}
@media screen and (max-width: 768px) { 
    h1{
        font-size: 40px;
    }
    .container{
        width: 80%;
        height: 300px;
    }
}