*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d81414;
}
h1{
    color: yellow;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    font-size: 80px;
}
b{
    color: rgb(255, 255, 255);
}
p{
    color: rgb(255, 255, 255);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
    width: 1320px;
    height: 100%;
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: column;
    color: #8e8c8c;
    margin: 20px;
    width: 30%;
    padding: 25px;
    border-left: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 300px;
    max-height: 300px;
}
form:hover{
    border-right: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(255, 255, 255);
    border-left: none;
    border-bottom: none;
}
label{
    font-size: 20px;
    color: #d9d9d9;
    padding: 3px 0 3px 0;
}
input{
    border-radius: 4px;
    border: none;
    height: 30px;
    padding-left: 10px;
}
button{
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: rgb(227, 170, 14);
    cursor: pointer;
    color: #ffffff;
}
button:hover{
    background-color: rgb(143, 9, 2);
}
.container #lista #card{
    height: 100px;
    padding: 5px 10px;
    border-left: 5px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #333;
    gap: 5px;
    margin: 5px;
}
#lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}
img{
    position: fixed;
    bottom: 300px;
    right: 100px;
    width: 500px;
}